<?xml version="1.0"?>
<!--
/**
 * Adwise - https://www.adwise.nl
 * Copyright © Adwise 2026-present. All rights reserved.
 * This module is distributed under the MIT license
 * See LICENSE.md
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::dashboard">
                    <resource id="Adwise_PublicDashboard::manage"
                              title="Manage Public Dashboard Link"
                              translate="title"
                              sortOrder="100"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
